<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">These are all projects that I myself have worked on. Please take a look and let me know what you think!</p>
    <p>
      <%= link_to 'More About Me', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Blog Posts', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>