<h1>About me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "_D850458.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p>I am fairly new to web development, but I love taking on challenges.</p>

    <p>About me paragraph 2</p>
  </div>

</div>

