<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>7034 SW Aldercrest Ct., Wilsonville, OR 97070</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "5039296656" %></p>

        <h3>Email</h3>

        <p><a href="mailto:cashman.andrew93@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2805.891754104425!2d-122.7518676844634!3d45.310612179099536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54956e5c04a41679%3A0xb8912f9d6563892b!2s7034+SW+Aldercrest+Ct%2C+Wilsonville%2C+OR+97070!5e0!3m2!1sen!2sus!4v1517597363098" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
