<div class="inner cover">
  <h1 class="cover-heading">Welcome to my journey.</h1>
  <br>
  <p class="lead">Software development has been a curoisty to me since I was very young age. I wanted to share my journey of learning to code with you.</p>

  <p class="lead">My name is Andrew, and I'm a web developer</p>
  <br>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>